
a {text-decoration: none;}

#intro{
	display: flex;
	justify-content: center;
	align-items: center;
}

.title{
	position: absolute;
	z-index: 1;
	color: aliceblue;
	justify-content: center;
	text-align: center;
}

#canvas {
	position: relative;
	background-color: rgb(22, 22, 22);
}

#skills{
	background-color: rgb(53 109 235);
	padding-top: 25px;
	padding-bottom: 20px;
}

#skills h1{
	color: aliceblue;
	justify-content: center;
	text-align: center;
	font-weight: bolder;
	font-size: 44px;
	margin-bottom: 25px;
}

.logo-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo{
	object-fit: contain;
	width: 10vw;
	padding-bottom: 20px;
}

.logo img{
	width: 80%;
	height: 90%;
	padding-left: 10px;
	padding-right: 10px;
}

#projects{
	text-align: center;
	justify-content: center;
	background-color: dimgray;
	padding-top: 25px;
}

#projects h1{
	color: aliceblue;
	font-weight: bolder;
	font-size: 44px;
}

.card-container{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.card {
	margin-top: 25px;
	width: 65vw;
	flex-direction: row;
}

.img-container {
	max-height: 75vh;
    width: 25vw;
}

.card-body{
	padding-bottom: 0;
	margin-bottom: 6px;
	align-self: center;
}

.card-text {
	margin-bottom: 6px;
}

.card img{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.footer {
	background-color: dimgray;
	height: 25px;
}

@media only screen and (max-width: 950px) {

	.logo {
		width: 20vw;
	}

	.card {
		flex-direction: column;
		width: 75vw;
	}

	.img-container {
		width: auto;
	}

	.card-body {
		align-self: center;
	}
}
